$sans: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu,
  Droid Sans, Helvetica Neue, sans-serif;
$mono: ui-monospace, SF Mono, Segoe UI Mono, Roboto Mono, Ubuntu Mono, Menlo,
  Courier, monospace;
$serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
  Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol;
$blue: #4f8cc9;
$light: #ddd;
$dark: #333;

@media (prefers-color-scheme: dark) {
  body {
    background-color: $dark;
    color: $light;

    hr {
      color: $light;
      background-color: $light;
    }

    code {
      background-color: darken($dark, 10%);
    }

    .footnote-definition:first-of-type::before {
      background-color: $light;
    }
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  body {
    background-color: $light;
    color: $dark;

    hr {
      color: $dark;
      background-color: $dark;
    }

    code {
      background-color: darken($light, 10%);
    }

    .footnote-definition:first-of-type::before {
      background-color: $dark;
    }
  }
}

body {
  font-size: 20px;
  font-family: $serif;
  max-width: 1200px;
  margin: 0 auto;
  text-align: justify;
  padding: 0 1em;
}

a {
  color: $blue;
  &:hover {
    color: #fff;
    background-color: $blue;
  }
}

p {
  img {
    display: block;
    margin: 0 auto;
    max-width: 95%;
  }
}

ul {
  list-style: square;
}

hr {
  height: 2px;
  border: none;
  margin: 1em 0;
}

pre,
code {
  font-family: $mono;
  font-size: 16px;
}

code {
  padding: 0.1em 0.3em;
}

pre > code {
  display: block;
  text-align: left;
  padding: 0.5em 1em 0.5em 1em;
  width: 95%;
  margin: 0 auto;
}

.justified {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header {
  margin-top: 1em;

  .post-title {
    font-size: 2em;
  }
}

.post-content {
  h2,
  h3,
  h4 {
    margin-bottom: 0;
    font-weight: normal;
    text-decoration: underline;

    & + p {
      margin-top: 0;
    }
  }
}

#site-name {
  font-size: 2em;
}

div.footnote-definition {
  font-size: smaller;

  code {
    font-size: smaller;
  }

  p {
    margin: 0.25em;
  }

  sup {
    float: left;
    margin-right: 0.25em;
    font-size: 1em;
    &::after {
      content: ".";
    }
  }

  &:first-of-type::before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

#bottom-links {
  font-size: smaller;

  a {
    margin-right: 1em;
  }
}

kbd {
  font-family: $mono;
  font-size: small;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px 2px 2px 1px;
  padding: 0.15em;
  vertical-align: middle;
}

#posts {
  margin-top: 1em;
}
